*.layout
*.depend

*.objs/
*.vscode/

bin/Debug/
obj/Debug/

*.o
*.exe

/escola-de-musica-benicasa/escola-de-musica-benicasa
/escola-de-musica-benicasa/escola-de-musica-benicasa.layout

.DS_Store
Thumbs.db
escola-de-musica-benicasa/usuarios.dat
escola-de-musica-benicasa/turmas.dat
escola-de-musica-benicasa/professores.dat
escola-de-musica-benicasa/oque precisa ser feito.md
escola-de-musica-benicasa/escola-de-musica-benicasa.depend
escola-de-musica-benicasa/disciplinas.dat
escola-de-musica-benicasa/alunos.dat
escola-de-musica-benicasa/administradores.dat
Python_teste_de_banco/populate_databases.py
Python_teste_de_banco/test_sizes.py
escola-de-musica-benicasa/escola-de-musica-benicasa.depend
escola-de-musica-benicasa/escola-de-musica-benicasa.depend
